@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    background-color: #f2f2f2;
    color:#000000;
    font-size: 18px;
    line-height: 21px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-wrap{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.main-header {
    padding: 0 70px;
}

.navigation {
    display: flex;
    position: relative;
}

.navigation-logo {
    position: absolute;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.navigation-menu{
    margin-left: 168px;
}

.navigation-user {
    width: 280px;
    margin-left: auto;
}

.navigation-user .navigation-link {
    min-width: 20px;
    min-height: 22px;
}

.navigation-link {
    display: block;
    padding: 20px 16px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.navigation-entry {
    color: #ffffff;
    background: #756157;
}

.favorites-num {
    color: #ffffff;
    font-size: 10px;
    line-height: 10px;
    background-color: #7db54f;
}

.main-index {
    flex-grow: 1;
    text-align: center;
}

.welcome {
    background-color: #81b3d3;
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 78px;
}

.advantages {
    padding-top: 69px;
}

.advantages-next {
    width: 700px;
    margin: 0 auto;
    font-size: 22px;
    color: #333333;
    line-height: 26px;
}

.advantages-slogan {
    width: 650px;
    margin: 0 auto 25px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-next {
    width: 700px;
    margin: 0 auto 90px;
    font-size: 22px;
    color: #333333;
    line-height: 26px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    list-style: none;
    background-color: #82b3d3;
}

.advantages-item {
    width: 400px;
}

.advantages-title {
    width: 180px;
    margin: 0 auto 30px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-about {
    width: 240px;
    margin: 0 auto;
}

.service {
    margin: 0 auto;
    padding-top: 64px;
    text-align: center;
}

.service-slogan {
    width: 510px;
    margin: 0 auto 23px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.service-list {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
    background-color: #82b3d3;
}

.service-item {
    width: 400px;
    padding: 81px 0;
}

.service-next{
    width: 510px;
    margin: 0 auto 65px;
    font-size: 22px;
}

.service-title {
    width: 230px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.service-about {
    width: 230px;
    margin: 0 auto;
    color: #333333;
}

.search {
    padding: 97px 0 96px;
}

.search-slogan {
    width: 300px;
    margin: 0 auto 21px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.search-about {
    width: 600px;
    margin: 0 auto 53px;
    font-size: 22px;
    color: #333333;
    line-height: 26px;
}

.search-link {
    display: block;
    margin: 0 auto;
    padding: 8px 0;
    width: 376px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #756157;
    text-decoration: none;
}

/* footer */
.newsletter {
    padding: 95px 0 104px;
    color: #ffffff;
    text-align: center;
    background-color: #333333;
    background-image: url("../images/background-email.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter-title {
    width: 410px;
    margin: 0 auto 21px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-about {
    width: 480px;
    margin: 0 auto 54px;
    font-size: 22px;
    line-height: 26px;
}

.newsletter-input {
    background-color: #f2f2f2;
}

.newsletter-button {
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    background-color: #82B3D3;
}

.social {
    display: flex;
    justify-content: space-between;
    padding: 45px 70px;
    }

.social-list {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.social-link {
    display: block;
    min-width: 47px;
    min-height: 40px;
    outline: 1px solid red;
}

.footer-phone {
    background-color: #fcc;
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
}


.filter-wrap {
    padding: 35px 70px 70px;
    background-image: url("../images/background-filter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.catalog-header {
    color: #ffffff;
    margin-bottom: 40px;
}

.catalog-header-title {
    margin: 0;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.breadcrumbs-item {
    margin-right: 10px;
}

.breadcrumbs-link {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

.filter-form-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.catalog-filter-form{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.filter-form-wrap {
    display: flex;
    margin-right: 70px;
    width: 390px;
}

.filter-price-wrap {
    width: 549px;
    display: flex;
    justify-content: space-between;
}

.filter-form-group {
    margin: 0;
    padding: 0;
    border: none;
}

.filter-form-title {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.filter-form-label {
    line-height: 23px;
}

.price-label {
    line-height: 24px;
}

.price-input {
    line-height: 24px;
    font-weight: 700;
}

.btn {
    width: 191px;
    padding: 8px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color:#ffffff;
    background-color:#82b3d3;
    border:none;
    border-radius: 4px;
}

.catalog-sort {
    display: flex;
    justify-content: space-between;
    padding: 50px 70px 40px;
}

.hotels-amount {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter-select-wrap {
    display: flex;
    width: 522px;
    flex-wrap: wrap;
    background: #ccf;
}

.select-control {
    width: 292px;
    margin-right: auto;
    padding: 14px 20px;
    color: #333333;
    border: 1px solid #e5e5e5;
}

.btn-icon {
    min-width: 48px;
    margin-left: 8px;
    outline: 1px solid red;
}

.catalog-hotels {
    padding: 0 70px;
    margin-bottom: 80px;
}

.card-hotel-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    gap: 20px;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.card-hotel-item {
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;

}

.card-link {
    color:#000000;
    text-decoration: none;
}

.card-img {
    margin-bottom: 13px;
}

.card-title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 28px;
}

.card-price-wrap {
    margin-bottom: 16px;
    color:#333333;
}

.card-btn-details {
    display: inline-block;
    width: 140px;
    padding: 8px 0;
    text-align: center;
    background: #756157;
    border-radius: 4px;
}

.card-btn-favorites {
    display: inline-block;
    width: 140px;
    padding: 8px 0;
    text-align: center;
    background: #82b3d3;
    border-radius: 4px;
}

.card-price-num {
    font-weight: normal;
}

.card-btn-wrap {
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 10px 20px;
    margin-bottom: 16px;
}

.card-btn-wrap a {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.card-btn-details {
    background-color: #756157;
}

.card-btn-favorites {
    background-color: #82b3d3;
}

.card-stars {
    margin: 0;
}

.card-rating {
    display: block;
    margin-left: auto;
    width: 140px;
    padding: 8px 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:#333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.catalog-pagination {
    padding: 0 70px;
}

.pagination-list {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    padding: 12px 0;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background-color: #82b3d3;
    border-radius: 4px;
}

.pagination-current {
    color:#000000;
    background-color: #f2f2f2;
}

.newsletter-catalog {
    color:#000000;
    background-image: none;
    background-color: #ffffff;
}
