@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    background-color: #f2f2f2;
    color:#000000;
    font-size: 18px;
    line-height: 21px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-wrap{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.main-header {
    padding: 0 70px;
}

.navigation {
    display: flex;
    position: relative;
}

.navigation-logo {
    position: absolute;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.navigation-item {
    position: relative;
}

.navigation-menu{
    max-width: 500px;
    margin-left: 168px;
}

.navigation-user {
    width: 266px;
    margin-left: auto;
    padding: 14px 0;
}

.navigation-user .navigation-link {
    min-width: 20px;
    min-height: 22px;
    padding: 6px 11px;
}

.navigation-link-current:after {
    position: absolute;
    content: "";
    left: 16px;
    right: 15px;
    bottom: 0;
    border-bottom:2px solid #756257;
}

.user-search {
    background-image: url("../images/search.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.user-favorites {
    background-image: url("../images/icon-love.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.favorites-num {
    position: absolute;
    color: #ffffff;
    top: -2px;
    left: 17px;
    padding: 5px;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    border-radius: 50%;
    background-color: #7db54f;
}

.navigation-link {
    display: block;
    padding: 20px 16px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.navigation-entry {
    width: 160px;
    margin-left: 22px;
    color: #ffffff;
    text-align: center;
    background: #756157;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    box-sizing: border-box;
}

.navigation-entry:hover,
.navigation-entry:focus {
    background-color: #615048;
}

.navigation-entry:active {
    background-color: #756157;
    color:rgba(255, 255, 255, 0.3)
}

.main-index {
    flex-grow: 1;
    text-align: center;
}

.welcome {
    background-color:#81b3d3 ;
    background-image:  url("../images/bg-decor.svg"), url("../images/index-background.jpg");
    background-position: left bottom, left top;
    background-repeat: no-repeat, no-repeat;
    padding: 50px 0 78px;
}


.advantages {
    padding-top: 69px;
}

.advantages-next {
    width: 700px;
    margin: 0 auto;
    font-size: 22px;
    color: #333333;
    line-height: 26px;
}

.advantages-slogan {
    width: 650px;
    margin: 0 auto 25px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-next {
    width: 700px;
    margin: 0 auto 90px;
    font-size: 22px;
    color: #333333;
    line-height: 26px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.advantages-item {
    width: 400px;
    padding: 114px 20px;
    box-sizing: border-box;
}

.advantages-item:nth-child(2n){
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-child(3){
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-full {
    display: flex;
    width: 100%;
    background-color: #82b3d3;
    color: #ffffff;
    padding: 0;
}

.advantages-content {
    width: 400px;
    padding: 104px 20px 35px;
}

.advantages-img {
    height: 100%;
    object-fit: cover;
}

.advantages-title {
    width: 172px;
    margin: 0 auto 60px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.advantages-title::before {
    position: absolute;
    left: 55px;
    top: 86px;
    content: "";
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.advantages-line::before {
    background-color: #fff;
}

.advantages-about {
    width: 240px;
    margin: 0 auto;
}

.service {
    margin: 0 auto;
    padding-top: 64px;
    text-align: center;
}

.service-slogan {
    width: 510px;
    margin: 0 auto 23px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.service-list {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.service-item {
    width: 400px;
    padding: 185px 10px 81px;
    position: relative;
    background-color: rgba(131, 179, 211, 0.2);
}

.service-food {
    background-color: #ffffff;
}

.service-house:before {
    position: absolute;
    top: 80px;
    left: 163px;
    width: 75px;
    height: 72px;
    content: "";
    background-image: url("../images/house.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.service-food:before {
    position: absolute;
    top: 80px;
    left: 163px;
    width: 75px;
    height: 72px;
    content: "";
    background-image: url("../images/food.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.service-souvenirs:before {
    position: absolute;
    top: 79px;
    left: 163px;
    width: 75px;
    height: 76px;
    content: "";
    background-image: url("../images/souvenirs.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.service-next{
    width: 510px;
    margin: 0 auto 65px;
    font-size: 22px;
}

.service-title {
    width: 230px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.service-about {
    width: 240px;
    margin: 0 auto;
    color: #333333;
}

.service-about-one {
    width: 180px;
}

.service-about-two {
    width: 230px;
}

.service-about-three {
    width: 196px;
}

.search {
    padding: 95px 0 96px;
}

.search-slogan {
    width: 300px;
    margin: 0 auto 21px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.search-about {
    width: 600px;
    margin: 0 auto 53px;
    font-size: 22px;
    color: #333333;
    line-height: 26px;
}

.search-link {
    display: block;
    margin: 0 auto;
    padding: 8px 0;
    width: 376px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #756157;
    text-decoration: none;
    border-radius: 4px;
}

.search-link:hover,
.search-link:focus {
    background-color: #615048;
}

.search-link:active {
    background-color: #756157;
    color:rgba(255, 255, 255, 0.3)
}

/* footer */
.newsletter {
    padding: 95px 0 104px;
    color: #ffffff;
    text-align: center;
    background-color: #333333;
    background-image: url("../images/background-email.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter-title {
    width: 410px;
    margin: 0 auto 21px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-about {
    width: 480px;
    margin: 0 auto 54px;
    font-size: 22px;
    line-height: 26px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-input {
    width: 452px;
    padding: 16px 20px;
    background-color: #f2f2f2;
    border: none;
    box-sizing: border-box;
    font-size: 18px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.newsletter-input:hover {
    background: #e6e6e6;
}

.newsletter-input:focus {
    background: #e6e6e6;
    outline: 2px solid #83B3D3;
}

.newsletter-input:active {
    background: #e6e6e6;
}

.newsletter-button {
    min-width: 232px;
    max-width: 300px;
    color: #ffffff;
    padding: 0 20px;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    background-color: #82B3D3;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.newsletter-button:hover,
.newsletter-button:focus {
    background-color: #68a2ca;
}

.newsletter-button:focus {
    background-color: #68a2ca;
    outline: 2px solid #83B3D3;
}

.newsletter-button:active {
    background-color: #82B3D3;
    color:rgba(255, 255, 255, 0.3);
}

.social {
    display: flex;
    justify-content: space-between;
    padding: 45px 70px 30px;
    }

.social-list {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.social-link {
    display: block;
    min-width: 47px;
    min-height: 40px;
    padding: 14px 12px;
    box-sizing: border-box;
}

.footer-phone {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
}

.footer-phone:hover,
.footer-phone:focus {
    color: #756157;
}

.footer-phone:active{
    color: rgba(117, 97, 87, 0.3);
}

.footer-html-academy {
    color:#000000;
}

.footer-html-academy:hover,
.footer-html-academy:focus {
    color:#756157;
}

.hfooter-html-academy:active {
    color:rgba(117, 97, 87, 0.3);
}

.filter-wrap {
    padding: 35px 70px 70px;
    background-image: url("../images/background-filter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.catalog-header {
    color: #ffffff;
    margin-bottom: 40px;
}

.catalog-header-title {
    margin: 0;
    margin-bottom: 7px;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.breadcrumbs-item {
    margin-right: 10px;
    padding-right: 31px;
    position: relative;
}

.breadcrumbs-item:last-child {
    padding-right: 0;
}

.breadcrumbs-link {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

.breadcrumbs-home {
    position: absolute;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url("../images/icon-home.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.breadcrumbs-home:after {
    position: absolute;
    content: "";
    top: 3px;
    left: 24px;
    width: 6px;
    height: 9px;
    background-image: url("../images/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.filter-form-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.catalog-filter-form{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.filter-form-wrap {
    display: flex;
    width: 390px;
}

.filter-price-wrap {
    width: 549px;
    display: flex;
    justify-content: space-between;
}

.filter-form-group {
    margin: 0;

    padding: 0;
    border: none;
}

.filter-form-group:first-child {
    margin-right: 70px;
}

.filter-form-title {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.filter-form-item:not(:last-child) {
    margin-bottom: 16px;
}

.from-to-wrap {
    display: flex;
    position: relative;
    margin-bottom: 44px;
}

.filter-form-label {
    position: relative;
    padding-left: 35px;
    line-height: 23px;
}

.filter-form-label:hover {
    color: rgb(235, 223, 223);
}

.filter-form-label:hover .control-mark{
    background-color: rgb(235, 223, 223);
}

.filter-form-input:disabled + .control-mark,
.filter-form-input:disabled + .control-mark-radio{
    background-color: rgb(218, 213, 213, 0.3);
}

.control-mark {
    position: absolute;
    top:2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 4px;
}

.control-mark-radio {
    position: absolute;
    top:2px;
    left: -3px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
}

.filter-form-input[type="checkbox"]:checked + .control-mark:before {
    position: absolute;
    content: "";
    background-image: url(../images/checked.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 10px;
    top: 5px;
    left: 5px;
}

.filter-form-input[type="radio"]:checked + .control-mark-radio:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background: rgba(63, 94, 114, 1);
    ;
}

.price-label {
    line-height: 24px;
    color: #000000;
    position: absolute;
}

.price-label-from {
    top:15px;
    left: 107px;
}

.price-label-to {
    top:14px;
    left: 249px;
}

.price-input {
    width: 143px;
    padding: 12px 42px 12px 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    box-sizing: border-box;
    border:none;
}

.price-input-from {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 2px;
}

 .price-input-to {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.range-container {

}

.range-scale {
    position: relative;
    height: 4px;
    background-color: #60686c;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -8px;
    width: 20px;
    height: 20px;
    border:2px solid #ffffff;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
}

.range-toggle:active {
    outline: 2px solid #83b3d3;
}

.filter-btn-wrap {
    display: flex;
    flex-direction: column;
    width: 191px;
    margin-top: 56px;
}

.btn {
    width: 191px;
    padding: 8px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color:#ffffff;
    background-color:#82b3d3;
    border:none;
    border-radius: 4px;
}

.btn:first-child {
    margin-bottom: 32px;
}

.btn:last-child {
    background-color: transparent;
}

.catalog-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 70px 36px;
}

.hotels-amount {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter-select-wrap {
    display: flex;
    width: 522px;
    flex-wrap: wrap;
}

.catalog-select-form {
    margin-right: auto;
}

.select-control {
    width: 292px;
    padding: 12px 20px 14px 17px;
    color: #333333;
    font-size: 18px;
    line-height: 21px;
    border: 2px solid #e5e5e5;
    background-image: url("../images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    border-radius: 4px;
    appearance: none;
}

.select-type-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.select-type-item {
    margin-left: 6px;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 4px;
}

.btn-icon-select {
    border: 2px solid #000000;
}

.btn-icon {
    display: block;
    width: 46px;
    height: 46px;
}

.select-type-item:nth-child(1) {
    background-image: url("../images/icon-card-show.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.select-type-item:nth-child(2) {
    background-image: url("../images/icon-window-show.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.select-type-item:nth-child(3) {
    background-image: url("../images/icon-list-show.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.catalog-hotels {
    padding: 0 70px;
    margin-bottom: 80px;
}

.card-hotel-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    gap: 17px 20px;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.card-hotel-item {
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;

}

.card-link {
    color:#000000;
    text-decoration: none;
}

.card-img {
    margin-bottom: 13px;
}

.card-title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 28px;
}

.card-price-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    color:#333333;
}

.card-btn-details {
    display: inline-block;
    width: 140px;
    padding: 8px 0;
    text-align: center;
    background: #756157;
    border-radius: 4px;
}

.card-btn-favorites {
    display: inline-block;
    width: 140px;
    padding: 8px 0;
    text-align: center;
    background: #82b3d3;
    border-radius: 4px;
}

.card-price-num {
    font-weight: normal;
}

.card-btn-wrap {
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 10px 19px;
    margin-bottom: 16px;
}

.card-btn-wrap a {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.card-btn-details {
    background-color: #756157;
}

.card-btn-favorites {
    background-color: #82b3d3;
}

.card-rating-wrap {
    display: flex;
    align-items: center;
}
.card-stars {
    width: 23px;
    height: 17px;
    margin: 0;
    background-image: url("../images/star.svg");
    background-repeat: repeat;
}

.rating-stars-four {
    width: 93px;
}

.rating-stars-three {
    width: 72px;
}

.rating-stars-two {
    width: 47px;
}

.card-rating {
    display: block;
    margin-left: auto;
    width: 140px;
    padding: 8px 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:#333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.catalog-pagination {
    padding: 0 70px;
    margin-bottom: 60px;
}

.pagination-list {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    padding: 12px 0;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background-color: #82b3d3;
    border-radius: 4px;
}

.pagination-current {
    color:#000000;
    background-color: #f2f2f2;
}

.newsletter-catalog {
    color:#000000;
    background-image: none;
    background-color: #ffffff;
}

.modal-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.8);
}

.modal {
    position: relative;
    display: block;
    width: 717px;
    font-size: 20px;
    font-weight: 700;
    margin: 10% auto 0;
    padding: 71px 70px 65px;
    background: #ffffff;
    border-radius:30px;
    box-sizing: border-box;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-title {
    font-size: 30px;
    margin: 0;
    margin-bottom: 75px;
    text-transform: uppercase;
}

.modal-close {
    position: absolute;
    right: 52px;
    top: 63px;
    padding: 15px;
    background: #f2f2f2;
    box-sizing: border-box;
    border-radius: 50%;
    border:none;
    cursor: pointer;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-input-wrap {
    display: flex;
    align-items: baseline;
}

.modal-input-last {
    align-items: center;
}

.modal-label {
    width: 125px;
    margin-right: 12px;
}

.modal-label-who {
    margin-right: 46px;
}

.modal-adult-wrap,
.modal-children-wrap {
    width: 110px;
    display: flex;
}

.modal-adult-wrap {
    margin-right: 88px;
}

.label-who-tooltip {
    width: 90px;
    margin-right: 42px;
}

.modal-tooltip {
    display: inline-block;
    width: 26px;
    height: 26px;
    padding: 2px 10px;
    margin-left: 7px;
    color: #ffffff;
    box-sizing: border-box;
    background: #83b3d3;
    border-radius: 50%;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    left: 349px;
    top: 408px;
    width: 256px;
    background-color: #000000;
    padding: 15px 18px 21px 22px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
}

.tooltip:before {
    content:"";
    position: absolute;
    left: 118px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #000000;

}

.modal-input-inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.modal-input {
    width: 440px;
    padding: 13px 50px 13px 20px;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 700;
    background-color: #f2f2f2;
    background-image: url("../images/date.svg");
    background-position: 400px 10px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-who {
    width: 31px;
    padding: 12px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.modal-input:hover {
    background-color: #E6E6E6;
}

.modal-input:focus {
    background-color: #E6E6E6;
    outline:3px solid #000000;
}

.modal-adult-plus,
.modal-adult-minus,
.modal-children-minus,
.modal-children-plus {
    width: 40px;
    height: 48px;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    cursor: pointer;
}

.modal-adult-minus {
    background-image: url("../images/button-minus.svg");
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.modal-adult-plus {
    background-image: url("../images/button-plus.svg");
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-children-minus {
    background-image: url("../images/button-minus.svg");
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.modal-children-plus {
    background-image: url("../images/button-plus.svg");
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-error-msg {
    font-size: 16px;
    font-weight: 400;
    padding: 0 20px;
}

.msg-red {
    color: #ff5757;
}

.modal-btn {
    width: 577px;
    padding: 18px 20px;
    margin-top: 46px;
    background-color: #83b3d3;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #68a2ca;
    outline: 1px solid #68a2ca;
}


.modal-btn:active {
    background-color: #68a2ca;
    color: rgba(255, 255, 255, 0.3);
}
