@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

body{
    font-family: "PT Sans", sans-serif;
    background-color: #F2F2F2;
    color:#000000;
    font-size: 18px;
    line-height: 21px;
}

.navigation-link{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.favorites-num{
    color: #ffffff;
    font-size: 10px;
    line-height: 10px;
    background-color: #7DB54F;
}

.main-index{
    text-align: center;
}

.welcome{
    background-image: url(../images/index-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.advantages-slogan,
.service-slogan,
.search-slogan{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-next,
.service-next,
.search-about{
    font-size: 22px;
    color: #333333;
    line-height: 26px;
}

.advantages-title,
.service-title{
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.service-about{
    color: #333333;
}

.search-link{
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #756157;
    text-decoration: none;
}

/* footer */
.newsletter{
    color: #ffffff;
    text-align: center;
    background-color: #333333;
    background-image: url(../images/background-email.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.newsletter-title{
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-about{
    font-size: 22px;
    line-height: 26px;
}

.newsletter-input{

}

.newsletter-button{
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    background-color: #82B3D3;
}

.footer-phone{
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
}
