@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    background-color: #f2f2f2;
    color:#000000;
    font-size: 18px;
    line-height: 21px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-wrap{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.main-header {
    padding: 0 70px;

}

.navigation {
    display: flex;
}

.navigation-inner {
    width: 600px;
    background: #fcc;
}

.navigation-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.navigation-user {
    width: 280px;
    margin-left: auto;
    background: #369;
}



.navigation-link {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.favorites-num {
    color: #ffffff;
    font-size: 10px;
    line-height: 10px;
    background-color: #7db54f;
}

.main-index {
    flex-grow: 1;
    text-align: center;
}

.welcome {
    background-color: #81b3d3;
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 78px;
}

.advantages {
    padding-top: 69px;
}

.advantages-next {
    width: 700px;
    margin: 0 auto;
    font-size: 22px;
    color: #333333;
    line-height: 26px;
}

.advantages-slogan {
    width: 650px;
    margin: 0 auto 25px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-next {
    width: 700px;
    margin: 0 auto 90px;
    font-size: 22px;
    color: #333333;
    line-height: 26px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    list-style: none;
    background-color: #82b3d3;
}

.advantages-item {
    width: 400px;
}

.advantages-title {
    width: 180px;
    margin: 0 auto 30px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-about {
    width: 240px;
    margin: 0 auto;
}

.service {
    width: 510px;
    margin: 0 auto;
    padding-top: 64px;
    text-align: center;
}

.service-slogan {
    margin: 0 auto 23px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.service-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    background-color: #82b3d3;
}

.service-next{
    width: 510px;
    margin: 0 auto 65px;
    font-size: 22px;
}

.service-title {
    width: 230px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.service-about {
    width: 230px;
    margin: 0 auto;
    color: #333333;
}

.search {
    padding: 97px 0 96px;
}

.search-slogan {
    width: 300px;
    margin: 0 auto 21px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.search-about {
    width: 600px;
    margin: 0 auto 53px;
    font-size: 22px;
    color: #333333;
    line-height: 26px;
}

.search-link {
    display: block;
    margin: 0 auto;
    padding: 8px 0;
    width: 376px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #756157;
    text-decoration: none;
}

/* footer */
.newsletter {
    padding: 95px 0 104px;
    color: #ffffff;
    text-align: center;
    background-color: #333333;
    background-image: url("../images/background-email.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter-title {
    width: 410px;
    margin: 0 auto 21px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-about {
    width: 480px;
    margin: 0 auto 54px;
    font-size: 22px;
    line-height: 26px;
}

.newsletter-input {
    background-color: #f2f2f2;
}

.newsletter-button {
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    background-color: #82B3D3;
}

.social {
    padding: 45px 0;
}

.social-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.footer-phone {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
}

.footer-html-academy {

}

.catalog-header {
    color: #ffffff;
}

.catalog-header-title {
    margin: 0;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.breadcrumbs-link {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

.filter-wrap {
    background-image: url("../images/background-filter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-form-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.catalog-filter-form{
    color: #ffffff;
}

.filter-form-group {
    margin: 0;
    padding: 0;
    border: none;
}

.filter-form-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.filter-form-label {
    line-height: 23px;
}

.price-label {
    line-height: 24px;
}

.price-input {
    line-height: 24px;
    font-weight: 700;
}

.btn {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color:#ffffff;
    background-color:#82b3d3;
}

.hotels-amount {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.select-control {
    color: #333333;
}

.card-hotel-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.card-link {
    color:#000000;
    text-decoration: none;
}

.card-title {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
}

.card-price-wrap {
    color:#333333;
}

.card-price-num {
    font-weight: normal;
}

.card-btn-wrap a {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.card-btn-details {
    background-color: #756157;
}

.card-btn-favorites {
    background-color: #82b3d3;
}

.card-stars {
    margin: 0;
}

.card-rating {
    font-size: 16px;
    line-height: 20px;
    color:#333333;
    text-transform: uppercase;
}

.pagination-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background-color: #82b3d3;
}

.pagination-current {
    color:#000000;
    background-color: #f2f2f2;
}

.newsletter-catalog {
    color:#000000;
    background-image: none;
    background-color: #ffffff;
}
